<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FedExPath" value="https://wsbeta.fedex.com:443/web-services"/>
    <add key="FedExKey" value="XXXXXXXXXXXXXXXX"/>
    <add key="FedExAccountNumber" value="123456789"/>
    <add key="FedExPassword" value="password"/>
    <add key="FedExMeterNumber" value="123456789"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>